modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run build && npm start"
hidden = [".config", ".git", "generated-icon.png", "node_modules"]

[nix]
channel = "stable-24_05"
packages = ["psmisc"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
visibility = "public"
protocol = "http"